body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 왼쪽 정렬 */
  margin-bottom: 10px;
  gap: 12px;
  width: 400px; /* 전체 줄 너비 고정 (원하면 조정 가능) */
}


.menu-item .desc {
  font-size: 14px;
  color: #444;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
  width: 120px;
  text-align: center;
}

#add-btn {
  min-width: auto;
  padding: 10px 16px;
}

button:hover {
  background-color: #555555;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }

  .card h3 {
    font-size: 1rem;
  }

  .dday {
    font-size: 1.5rem;
  }

  .date,
  .tags {
    font-size: 0.8rem;
  }

  #tagInput {
    width: 100%;
    font-size: 0.95rem;
  }

  .edit-btn {
    font-size: 0.8rem;
    padding: 4px 8px;
  }

  .delete-btn {
    font-size: 0.9rem;
  }

  .card {
    padding: 0.8rem;
  }
}

